data/
images/
__pycache__/
.ipynb_checkpoints/Dermato_AI-checkpoint.ipynb
.ipynb_checkpoints/
.ipynb_checkpoints
model_transfer.pt
test/
get_results.py
ground_truth.csv
paths.txt
requirements.txt
results.csv
sample_predictions.csv
model_inception.pt